.dashboard-container {
    position: relative;
    background: linear-gradient(to bottom, #001f3f, #000);
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 31, 63, 0.7), 0 0 20px rgba(0, 31, 63, 0.5), rgba(0, 31, 63, 0.3);

    h4 {
        font-family: monospace;
        color: #87ceeb;
        font-size: 24px;
    }
}

.chart {
    display: flex;
    justify-content: center;
}

.doughnut-chart {
    width: 200px;
    height: 200px;
    color: #fff;
}

.bar-chart {
    width: 300px;
    height: 300px;
    color: #fff;
}

.monthly-chart {
    display: flex;
    justify-content: center;
    max-width: 450px;
    margin-bottom: 80px;
}


@media (max-width: 767px) {
    .dashboard-container {
        div h4 {
            font-size: 20px;
        }
    }

    p {
        margin-left: 30px;
        margin-right: 30px;
        font-size: 16px;
    }
    .dashboard-container h4 {
        font-size: 18px;
    }

    .doughnut-chart {
        display: grid;
        justify-content: center; 
    }

    .bar-chart {
        display: block;
        align-items: center;
        margin-top: 120px;
        
    }

    .chart {
        display: grid;
        justify-content: center;
    }

    .monthly {
        letter-spacing: -1px;
    }

    .monthly-chart {
        display: flex;
        justify-content: center;
        max-width: 400px;
        margin-bottom: 80px;
    }
}