.login-container {
    position: relative;
    background: linear-gradient(to bottom, #001f3f, #000);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 31, 63, 0.7), 0 0 20px rgba(0, 31, 63, 0.5), rgba(0, 31, 63, 0.3);
}