.style {
    color: black;
    text-decoration: none;

    &:hover {
        color: #fff;
    } 


    @media (max-width: 768px) {
        &:hover {
            color: #fff;
        } 
    }
}

@media (max-width: 767px) {
    .link {
        margin-bottom: -15px;
    }
}

